{% extends 'base/main.html' %}

{% block content %}
<div class="header-bar">
    <div>
        <h1>Hello {{ request.user| title }}</h1>
        <h3 style="margin: 0px;">You have <i>{{ count }}</i> Incomplete Task{{ count|pluralize:"s" }} </h3>
        {% if request.user.is_authenticated %}
    </div>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <hr>
    <div id="search-add-wrapper">
        <form method="GET" style="margin-top: 20px; display: block ruby; ">
            <input type="text" name="search-area" value="{{search_input}}">
            <input class="button" type="submit" value="search">
        </form>
        <a id="add-link" href="{% url 'task-create' %}">&#x2b</a>
    </div>
    

    <div class="task-items-wrapper">
        {% for task in tasks %}
        <div class="task-wrapper">
            {% if task.complete %}
            <div class="task-title">
                <div class="task-complete-icon">
                    <i><s><a href="{% url 'task-update' task.id %}"> {{task}} </a></s></i>
                </div>
            </div>
            <a class='delete-link' href="{% url 'task-delete' task.id %}">&#215</a>
            {% else %}
            <div class="task-title">
                <div class="task-incomplete-icon">
                    <a href="{% url 'task-update' task.id %}"> {{task}} </a>
                </div>
            </div>
            <a class='delete-link' href="{% url 'task-delete' task.id %}">&#215</a>
            {% endif %}
            
        </div>
        {% empty %}
        <h4>No Items in the List</h4>
        {% endfor %}
    </div>
</body>

</html>
{% endblock content %}
